---
export interface Props extends astroHTML.JSX.BaseHTMLAttributes {
  size: Size;
};

type Size = 'huge' | 'small';

const sizes: Record<Size, string> = {
  'huge': "font-bold text-2xl md:text-3xl lg:text-5xl",
  'small': ""
};

const size = sizes[Astro.props.size];
const { class: customClasses } = Astro.props;
---

<h1 class={ `${size} ${customClasses}` }>
  <slot />
</h1>