---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card/index.astro";
import LanguageSelector from "../components/LanguageSelector.astro";
import Header from "../components/Typography/Header.astro";
import Paragraph from "../components/Typography/Paragraph.astro";
import { localizePath } from "astro-i18next";
import { Trans } from "astro-i18next/components";
import { t, changeLanguage } from "i18next";
import { Socials } from "../config/Socials.const";
import logotype from "../images/logotype-black.svg";

changeLanguage("en");
---

<Layout isHeaderEnabled={false}>
	<main class="flex-grow p-6">
		<div class="w-full h-full flex flex-wrap items-center justify-center bg-black rounded-2xl p-0.25 relative">
			<!-- In-card header -->
			<div class="absolute top-0 left-0 w-full md:w-2/3 p-4 md:px-4 md:py-2 lg:p-6 z-10 flex items-center justify-between">
				<!-- Logotype -->
				<img class="h-8 md:h-6 lg:h-8 inline" src={logotype} alt="odzi.dog logotype">
			
				<!-- Buttons -->
				<div>
					{ Socials.map((social) => (
						<a class="hidden md:inline mx-4 text-sm lg:text-base">{ t(`socials.${ social.text }`) }</a>
					))}

					<!-- Language picker -->
					<LanguageSelector showFlag={true} />
				</div>
			</div>

			<!-- Top -->
			<Card ratio="2/1" type="horizontal" isCentered>
				<div slot="header">
					<Header size="huge">
						<Trans i18nKey="landing.title">
							Small services for <span class="border-b-2 border-black border-opacity-70">big ideas</span>
						</Trans>
					</Header>
					
					<Paragraph size="huge" class="mt-2 md:mt-4">{ t("landing.subtitle") }</Paragraph>
				</div>
			</Card>
			
			<Card ratio="1/1" type="vertical">
				<!-- Title -->
				<div slot="header">
					<Header size="huge">
						<Trans i18nKey="landing.edge.title">
							Modular edge functions on <span class="border-b-2 border-black border-opacity-70">your cloud</span>
						</Trans>
					</Header>

					<Paragraph size="huge" class="mt-2 md:mt-4 md:hidden">{ t("landing.edge.subtitle") }</Paragraph>
				</div>

				<!-- Buttons -->
				<div slot="footer">
					<a href={localizePath("/services/edge")} class="inline rounded-full bg-gradient-to-tr from-orange-500 to-pink-500 text-base text-white font-medium px-3 py-1 md:px-6 md:py-2">
						{ t("landing.edge.learnMore") }
					</a>

					<a href={localizePath("/services/edge/docs")} class="md:hidden lg:inline rounded-full bg-slate-200 mx-2 text-base text-black font-medium px-3 py-1 md:px-6 md:py-2">
						{ t("landing.edge.documentation") } 
					</a>
				</div>
			</Card>

			<!-- Bottom -->
			<Card ratio="1/1" isEmpty />
			<Card ratio="1/1" isEmpty />
			<Card ratio="1/1" isEmpty />
		</div>
	</main>
</Layout>