---
import logotype from '../images/logotype-black.svg';
import { t } from 'i18next';
---

<footer class="w-full py-4 px-8 flex items-center justify-between opacity-80">
  <!-- Left -->
  <div class="flex items-center">
    <!-- Logotype and -->
    <img src={logotype} class="h-8" alt="odzi.dog footer logotype">
  
    <div class="ml-4">
      <p class="text-sm">© odzi.dog, 2021 - 2022</p>
      <p class="text-xs opacity-80">{ t("footer.leftSide.subtitle") }</p>
    </div>
  </div>

  <!-- Right -->
  <!-- <div></div> -->
</footer>